# I. Food Consumption in Germany from 1961-2013

1. Import packages, load csv file, explore csv file

In [1]:
import pandas as pd
import numpy as np

Ger_food = pd.read_csv('GER_FAOSTAT_food_consumption.csv')

In [2]:
Ger_food

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2901,Grand Total,1961,1961,kcal/capita/day,2855,Fc,Calculated data
1,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2909,Sugar & Sweeteners,1961,1961,kcal/capita/day,336,Fc,Calculated data
2,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2914,Vegetable Oils,1961,1961,kcal/capita/day,252,Fc,Calculated data
3,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2918,Vegetables,1961,1961,kcal/capita/day,31,Fc,Calculated data
4,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2919,Fruits - Excluding Wine,1961,1961,kcal/capita/day,108,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2941,Animal Products,2013,2013,kcal/capita/day,1044,Fc,Calculated data
579,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2943,Meat,2013,2013,kcal/capita/day,353,Fc,Calculated data
580,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2946,Animal fats,2013,2013,kcal/capita/day,273,Fc,Calculated data
581,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2948,Milk - Excluding Butter,2013,2013,kcal/capita/day,331,Fc,Calculated data
582,FBS,Food Balance Sheets,79,Germany,664,Food supply (kcal/capita/day),2960,"Fish, Seafood",2013,2013,kcal/capita/day,37,Fc,Calculated data

2. Drop columns which are not needed for visualisation

In [3]:
Ger_food = Ger_food.drop(['Domain Code', 'Domain', 'Country Code', 'Country', 'Element Code', 'Element', 'Item Code', 'Year Code', 'Flag', 'Flag Description'], axis=1)

In [4]:
Ger_food

                        Item  Year             Unit  Value
0                Grand Total  1961  kcal/capita/day   2855
1         Sugar & Sweeteners  1961  kcal/capita/day    336
2             Vegetable Oils  1961  kcal/capita/day    252
3                 Vegetables  1961  kcal/capita/day     31
4    Fruits - Excluding Wine  1961  kcal/capita/day    108
..                       ...   ...              ...    ...
578          Animal Products  2013  kcal/capita/day   1044
579                     Meat  2013  kcal/capita/day    353
580              Animal fats  2013  kcal/capita/day    273
581  Milk - Excluding Butter  2013  kcal/capita/day    331
582            Fish, Seafood  2013  kcal/capita/day     37

[583 rows x 4 columns]

3. Look at unique values in 'Items' column and transform them to columns to only have one year per row

In [5]:
Ger_food.Item.unique()

array(['Grand Total', 'Sugar & Sweeteners', 'Vegetable Oils',
       'Vegetables', 'Fruits - Excluding Wine', 'Alcoholic Beverages',
       'Animal Products', 'Meat', 'Animal fats',
       'Milk - Excluding Butter', 'Fish, Seafood'], dtype=object)

In [6]:
Ger_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 4 columns):
Item     583 non-null object
Year     583 non-null int64
Unit     583 non-null object
Value    583 non-null int64
dtypes: int64(2), object(2)
memory usage: 18.3+ KB

In [7]:
Ger_food_clean = Ger_food.pivot(index='Year', columns='Item', values='Value').rename(columns={"Fruits - Excluding Wine": "Fruits", "Milk - Excluding Butter": "Milk", "Grand Total": "Total kcal Consumption"})

In [8]:
Ger_food_clean

Item,Alcoholic Beverages,Animal Products,Animal fats,"Fish, Seafood",Fruits,Total kcal Consumption,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables
Year,,,,,,,,,,,
1961,162,923,346,22,108,2855,262,232,336,252,31
1962,175,932,352,23,120,2915,262,236,333,270,32
1963,187,940,357,24,125,2899,261,239,338,260,36
1964,203,943,356,24,111,2983,270,231,351,270,33
1965,208,948,354,24,116,3012,276,233,338,280,32
1966,211,945,353,23,126,3012,279,226,353,269,37
1967,212,966,359,23,129,3004,286,233,343,272,36
1968,222,990,366,23,146,3062,303,231,365,272,34
1969,235,997,364,25,135,3043,305,233,358,263,36
1970,255,1028,370,24,132,3101,322,238,376,265,40
1971,261,1022,351,24,132,3109,338,235,383,277,39
1972,264,1059,373,25,124,3143,352,233,390,282,41
1973,280,1036,353,26,136,3165,350,231,409,279,42
1974,268,1036,342,26,114,3110,366,225,403,271,42
1975,281,1046,348,27,127,3118,373,220,390,269,41
1976,292,1064,360,28,123,3190,373,224,413,293,43
1977,289,1044,342,26,117,3144,377,219,391,292,45
1978,285,1100,370,25,128,3258,398,225,413,283,46
1979,292,1119,377,26,127,3280,404,233,420,279,47
1980,290,1107,337,28,126,3278,419,241,418,288,46
1981,300,1098,330,27,104,3273,419,240,424,304,49
1982,316,1124,355,26,137,3337,413,246,429,290,48
1983,306,1184,396,27,119,3378,408,270,424,285,47
1984,292,1187,395,26,129,3391,409,276,406,277,52
1985,287,1191,387,25,127,3423,418,279,423,276,50
1986,298,1141,341,27,140,3406,416,276,436,282,51
1987,293,1138,328,25,132,3382,425,282,421,282,52
1988,294,1130,315,26,146,3404,424,288,427,294,54
1989,302,1133,338,29,139,3403,407,285,410,301,54
1990,285,1129,341,30,143,3261,409,278,343,315,53
1991,291,1074,304,25,121,3323,387,286,426,370,55
1992,292,1104,331,24,139,3392,400,280,446,374,58
1993,256,1018,312,22,106,3202,369,256,413,376,51
1994,251,1033,309,23,110,3213,370,270,392,376,55
1995,252,1028,320,27,96,3249,353,269,430,394,56
1996,252,1046,315,37,117,3297,367,265,391,432,61
1997,252,1024,307,39,100,3176,353,264,411,436,59
1998,254,1044,311,42,99,3285,375,256,397,416,60
1999,260,1035,314,36,101,3279,357,268,402,398,63
2000,253,1012,298,37,138,3336,357,261,409,435,63
2001,250,1029,302,40,105,3363,347,283,445,388,67
2002,249,1048,310,38,112,3427,345,299,440,390,66
2003,231,1063,312,40,116,3390,350,307,469,392,64
2004,238,1037,289,39,110,3411,347,309,478,414,66
2005,247,1047,301,40,110,3450,342,313,496,404,62
2006,264,1045,290,41,109,3466,345,315,469,426,63
2007,259,1084,297,41,106,3527,363,330,447,438,63
2008,249,1061,292,42,104,3517,356,318,481,447,64
2009,255,1074,284,39,104,3515,358,341,466,427,66
2010,232,1079,292,39,100,3504,365,332,485,424,65
2011,237,1090,298,40,109,3538,365,335,473,417,68
2012,243,1061,287,39,108,3501,357,328,461,443,70
2013,255,1044,273,37,111,3499,353,331,469,443,68

4. Change order of columns to first display general information, like 'Total kcal consumption' and 'Animal Products'

In [9]:
cols = list(Ger_food_clean.columns.values)
cols

['Alcoholic Beverages',
 'Animal Products',
 'Animal fats',
 'Fish, Seafood',
 'Fruits',
 'Total kcal Consumption',
 'Meat',
 'Milk',
 'Sugar & Sweeteners',
 'Vegetable Oils',
 'Vegetables']

In [10]:
Ger_food_clean = Ger_food_clean[['Total kcal Consumption','Animal Products','Alcoholic Beverages','Animal fats','Fish, Seafood','Fruits','Meat','Milk','Sugar & Sweeteners','Vegetable Oils','Vegetables']]
Ger_food_clean

Item,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables
Year,,,,,,,,,,,
1961,2855,923,162,346,22,108,262,232,336,252,31
1962,2915,932,175,352,23,120,262,236,333,270,32
1963,2899,940,187,357,24,125,261,239,338,260,36
1964,2983,943,203,356,24,111,270,231,351,270,33
1965,3012,948,208,354,24,116,276,233,338,280,32
1966,3012,945,211,353,23,126,279,226,353,269,37
1967,3004,966,212,359,23,129,286,233,343,272,36
1968,3062,990,222,366,23,146,303,231,365,272,34
1969,3043,997,235,364,25,135,305,233,358,263,36
1970,3101,1028,255,370,24,132,322,238,376,265,40
1971,3109,1022,261,351,24,132,338,235,383,277,39
1972,3143,1059,264,373,25,124,352,233,390,282,41
1973,3165,1036,280,353,26,136,350,231,409,279,42
1974,3110,1036,268,342,26,114,366,225,403,271,42
1975,3118,1046,281,348,27,127,373,220,390,269,41
1976,3190,1064,292,360,28,123,373,224,413,293,43
1977,3144,1044,289,342,26,117,377,219,391,292,45
1978,3258,1100,285,370,25,128,398,225,413,283,46
1979,3280,1119,292,377,26,127,404,233,420,279,47
1980,3278,1107,290,337,28,126,419,241,418,288,46
1981,3273,1098,300,330,27,104,419,240,424,304,49
1982,3337,1124,316,355,26,137,413,246,429,290,48
1983,3378,1184,306,396,27,119,408,270,424,285,47
1984,3391,1187,292,395,26,129,409,276,406,277,52
1985,3423,1191,287,387,25,127,418,279,423,276,50
1986,3406,1141,298,341,27,140,416,276,436,282,51
1987,3382,1138,293,328,25,132,425,282,421,282,52
1988,3404,1130,294,315,26,146,424,288,427,294,54
1989,3403,1133,302,338,29,139,407,285,410,301,54
1990,3261,1129,285,341,30,143,409,278,343,315,53
1991,3323,1074,291,304,25,121,387,286,426,370,55
1992,3392,1104,292,331,24,139,400,280,446,374,58
1993,3202,1018,256,312,22,106,369,256,413,376,51
1994,3213,1033,251,309,23,110,370,270,392,376,55
1995,3249,1028,252,320,27,96,353,269,430,394,56
1996,3297,1046,252,315,37,117,367,265,391,432,61
1997,3176,1024,252,307,39,100,353,264,411,436,59
1998,3285,1044,254,311,42,99,375,256,397,416,60
1999,3279,1035,260,314,36,101,357,268,402,398,63
2000,3336,1012,253,298,37,138,357,261,409,435,63
2001,3363,1029,250,302,40,105,347,283,445,388,67
2002,3427,1048,249,310,38,112,345,299,440,390,66
2003,3390,1063,231,312,40,116,350,307,469,392,64
2004,3411,1037,238,289,39,110,347,309,478,414,66
2005,3450,1047,247,301,40,110,342,313,496,404,62
2006,3466,1045,264,290,41,109,345,315,469,426,63
2007,3527,1084,259,297,41,106,363,330,447,438,63
2008,3517,1061,249,292,42,104,356,318,481,447,64
2009,3515,1074,255,284,39,104,358,341,466,427,66
2010,3504,1079,232,292,39,100,365,332,485,424,65
2011,3538,1090,237,298,40,109,365,335,473,417,68
2012,3501,1061,243,287,39,108,357,328,461,443,70
2013,3499,1044,255,273,37,111,353,331,469,443,68

5. Reset Multi-Index which was accidentially created

In [11]:
Ger_food_clean.reset_index(level=Ger_food_clean.index.names, inplace=True)

# II. % of Overweight Population in Germany from 1975-2016

1. load csv file, explore csv file

In [12]:
Ger_over = pd.read_csv('GER_overweight_1975_2016.csv')

In [13]:
Ger_over

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...",...,"Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr...","Prevalence of overweight among adults, BMI &Gr..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Germany,62.8 [58.7-66.7],69.7 [63.7-75.2],56.2 [50.6-62.0],62.3 [58.4-66.0],69.3 [63.7-74.4],55.8 [50.5-61.1],61.9 [58.2-65.3],68.8 [63.7-73.6],55.3 [50.4-60.4],...,39.5 [34.5-44.8],41.6 [37.5-45.8],44.4 [38.3-50.6],39.2 [33.9-44.8],41.1 [36.8-45.6],43.7 [37.2-50.2],38.9 [33.3-44.8],40.6 [36.0-45.3],43.0 [36.1-49.9],38.6 [32.7-44.9]

2. Drop rows which are unnecessary, transpose df to display years in rows

In [14]:
Ger_over = Ger_over.drop([Ger_over.index[0] , Ger_over.index[1]])

In [15]:
Ger_over_t = Ger_over.transpose().reset_index()


Ger_over_t = Ger_over_t.rename(columns=Ger_over_t.iloc[0])
Ger_over_t.drop(Ger_over_t.index[:1], inplace=True)
Ger_over_t

    Unnamed: 0     Country           Germany
1         2016  Both sexes  62.8 [58.7-66.7]
2       2016.1        Male  69.7 [63.7-75.2]
3       2016.2      Female  56.2 [50.6-62.0]
4         2015  Both sexes  62.3 [58.4-66.0]
5       2015.1        Male  69.3 [63.7-74.4]
..         ...         ...               ...
122     1976.1        Male  43.7 [37.2-50.2]
123     1976.2      Female  38.9 [33.3-44.8]
124       1975  Both sexes  40.6 [36.0-45.3]
125     1975.1        Male  43.0 [36.1-49.9]
126     1975.2      Female  38.6 [32.7-44.9]

[126 rows x 3 columns]

In [16]:
Ger_over_t.reset_index(drop=True)
Ger_over_t.set_index('Unnamed: 0', inplace=True)

3. Rename columns, clean column 'Percentage Overweight' via string manipulation

In [17]:
Ger_over_t = Ger_over_t.rename({"Country": "Gender", "Germany": "Percentage Overweight"}, axis=1)

In [18]:
B=Ger_over_t['Percentage Overweight'].str.replace(r"\[.*\]","")

In [19]:
Ger_over_t['Percentage Overweight']=B

In [20]:
Ger_over_t

                Gender Percentage Overweight
Unnamed: 0
2016        Both sexes                 62.8
2016.1            Male                 69.7
2016.2          Female                 56.2
2015        Both sexes                 62.3
2015.1            Male                 69.3
...                ...                   ...
1976.1            Male                 43.7
1976.2          Female                 38.9
1975        Both sexes                 40.6
1975.1            Male                 43.0
1975.2          Female                 38.6

[126 rows x 2 columns]

In [21]:
Ger_over_t = Ger_over_t.rename_axis('Year')

In [22]:
Ger_over_t = Ger_over_t.reset_index()

4. Use pivot method to turn values in 'Gender' column into columns, then delete values for Male and Female to only have both sexes

In [23]:
Ger_over_t = Ger_over_t.pivot(index='Year', columns='Gender', values='Percentage Overweight')

In [24]:
del Ger_over_t['Female']
del Ger_over_t['Male']

In [25]:
Ger_over_t = Ger_over_t[pd.notnull(Ger_over_t['Both sexes'])]

5. Rename column "Both sexes", reset multi-index, cast 'Year' as type int64

In [26]:
Ger_over_t = Ger_over_t.rename(columns={"Both sexes": "Percentage Overweight"})

In [27]:
Ger_over_t.reset_index(level=Ger_over_t.index.names, inplace=True)

In [28]:
c = Ger_over_t['Year'].astype('int64')

In [29]:
Ger_over_t['Year'] = c

# III. Merge Food Consumption and Overweight

1. merge food consumption df and overweight df to create one df called 'Ger_food_over'

In [30]:
Ger_food_over = pd.merge(Ger_food_clean, Ger_over_t, how='left', on=['Year'])

In [31]:
Ger_food_over

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight
0,1961,2855,923,162,346,22,108,262,232,336,252,31,NaN
1,1962,2915,932,175,352,23,120,262,236,333,270,32,NaN
2,1963,2899,940,187,357,24,125,261,239,338,260,36,NaN
3,1964,2983,943,203,356,24,111,270,231,351,270,33,NaN
4,1965,3012,948,208,354,24,116,276,233,338,280,32,NaN
5,1966,3012,945,211,353,23,126,279,226,353,269,37,NaN
6,1967,3004,966,212,359,23,129,286,233,343,272,36,NaN
7,1968,3062,990,222,366,23,146,303,231,365,272,34,NaN
8,1969,3043,997,235,364,25,135,305,233,358,263,36,NaN
9,1970,3101,1028,255,370,24,132,322,238,376,265,40,NaN
10,1971,3109,1022,261,351,24,132,338,235,383,277,39,NaN
11,1972,3143,1059,264,373,25,124,352,233,390,282,41,NaN
12,1973,3165,1036,280,353,26,136,350,231,409,279,42,NaN
13,1974,3110,1036,268,342,26,114,366,225,403,271,42,NaN
14,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6
15,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1
16,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6
17,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1
18,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6
19,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1
20,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6
21,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1
22,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5
23,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0
24,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5
25,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0
26,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6
27,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2
28,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9
29,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5
30,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2
31,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9
32,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6
33,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3
34,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9
35,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6
36,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2
37,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9
38,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5
39,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1
40,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6
41,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1
42,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6
43,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1
44,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6
45,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0
46,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5
47,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0
48,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5
49,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9
50,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4
51,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9
52,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4

# IV. % of People with Raised Blood Glucose in Germany from 1980-2014

1. load csv file, explore csv file

In [32]:
Ger_blood_glucose = pd.read_csv('GER_raised_fasting_blood_glucose_1980_2014.csv')

In [33]:
Ger_blood_glucose

,Unnamed: 0,2014,2014.1,2014.2,2013,2013.1,2013.2,2012,2012.1,2012.2,...,1983.2,1982,1982.1,1982.2,1981,1981.1,1981.2,1980,1980.1,1980.2
0,NaN,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...,Raised fasting blood glucose (>= 7.0 mmol/L or...
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Germany,7.4 [5.0-10.4],8.4 [4.8-13.3],6.4 [3.7-10.0],7.3 [5.1-10.0],8.3 [5.0-12.6],6.4 [3.8-9.6],7.2 [5.3-9.6],8.2 [5.2-12.0],6.3 [4.0-9.2],...,5.8 [3.0-9.8],5.6 [3.4-8.7],5.4 [2.6-10.0],5.8 [2.9-10.3],5.6 [3.3-8.9],5.4 [2.5-10.3],5.8 [2.7-10.8],5.7 [3.1-9.2],5.4 [2.3-10.8],5.8 [2.6-11.2]

2. Drop rows which are unnecessary, transpose table to use display year in rows, reset index, check column types, rename columns

In [34]:
Ger_blood_glucose = Ger_blood_glucose.drop([Ger_blood_glucose.index[0] , Ger_blood_glucose.index[1]])

Ger_blood_glucose = Ger_blood_glucose.transpose().reset_index()


Ger_blood_glucose = Ger_blood_glucose.rename(columns=Ger_blood_glucose.iloc[0])
Ger_blood_glucose.drop(Ger_blood_glucose.index[:1], inplace=True)
Ger_blood_glucose

    Unnamed: 0     Country         Germany
1         2014  Both sexes  7.4 [5.0-10.4]
2       2014.1        Male  8.4 [4.8-13.3]
3       2014.2      Female  6.4 [3.7-10.0]
4         2013  Both sexes  7.3 [5.1-10.0]
5       2013.1        Male  8.3 [5.0-12.6]
..         ...         ...             ...
101     1981.1        Male  5.4 [2.5-10.3]
102     1981.2      Female  5.8 [2.7-10.8]
103       1980  Both sexes   5.7 [3.1-9.2]
104     1980.1        Male  5.4 [2.3-10.8]
105     1980.2      Female  5.8 [2.6-11.2]

[105 rows x 3 columns]

In [35]:
Ger_blood_glucose.reset_index(level=Ger_blood_glucose.index.names, inplace=True)

In [36]:
Ger_blood_glucose.dtypes

index          int64
Unnamed: 0    object
Country       object
Germany       object
dtype: object

In [37]:
Ger_blood_glucose = Ger_blood_glucose.rename({"Unnamed: 0": "Year", "Country": "Gender", "Germany": "Percentage Raised Blood Glucose"}, axis=1)
Ger_blood_glucose

     index    Year      Gender Percentage Raised Blood Glucose
0        1    2014  Both sexes                  7.4 [5.0-10.4]
1        2  2014.1        Male                  8.4 [4.8-13.3]
2        3  2014.2      Female                  6.4 [3.7-10.0]
3        4    2013  Both sexes                  7.3 [5.1-10.0]
4        5  2013.1        Male                  8.3 [5.0-12.6]
..     ...     ...         ...                             ...
100    101  1981.1        Male                  5.4 [2.5-10.3]
101    102  1981.2      Female                  5.8 [2.7-10.8]
102    103    1980  Both sexes                   5.7 [3.1-9.2]
103    104  1980.1        Male                  5.4 [2.3-10.8]
104    105  1980.2      Female                  5.8 [2.6-11.2]

[105 rows x 4 columns]

In [38]:
Ger_blood_glucose = Ger_blood_glucose.drop(['index'], axis=1)

3. Drop rows where Gender is Male and Female to only obtain values for both sexes, clean column 'Percentage Raised Blood Glucose' via string manipulation, cast 'Year' as type int64

In [39]:
Ger_blood_glucose.drop(Ger_blood_glucose.loc[Ger_blood_glucose['Gender']=='Male'].index, inplace=True)

In [40]:
Ger_blood_glucose.drop(Ger_blood_glucose.loc[Ger_blood_glucose['Gender']=='Female'].index, inplace=True)

In [41]:
D=Ger_blood_glucose['Percentage Raised Blood Glucose'].str.replace(r"\[.*\]","")

In [42]:
Ger_blood_glucose['Percentage Raised Blood Glucose']=D

In [43]:
Ger_blood_glucose.drop(['Gender'], axis=1, inplace=True)

In [44]:
Ger_blood_glucose.dtypes

Year                               object
Percentage Raised Blood Glucose    object
dtype: object

In [45]:
E = Ger_blood_glucose['Year'].astype('int64')

In [46]:
Ger_blood_glucose['Year'] = E

# V. Merge Food Consumption and Blood Glucose

1. merge food consumption df and blood glucose df to create one df called 'Ger_food_over_blood'

In [47]:
Ger_food_over_blood = pd.merge(Ger_food_over, Ger_blood_glucose, how='left', on=['Year'])

In [48]:
Ger_food_over_blood

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight,Percentage Raised Blood Glucose
0,1961,2855,923,162,346,22,108,262,232,336,252,31,NaN,NaN
1,1962,2915,932,175,352,23,120,262,236,333,270,32,NaN,NaN
2,1963,2899,940,187,357,24,125,261,239,338,260,36,NaN,NaN
3,1964,2983,943,203,356,24,111,270,231,351,270,33,NaN,NaN
4,1965,3012,948,208,354,24,116,276,233,338,280,32,NaN,NaN
5,1966,3012,945,211,353,23,126,279,226,353,269,37,NaN,NaN
6,1967,3004,966,212,359,23,129,286,233,343,272,36,NaN,NaN
7,1968,3062,990,222,366,23,146,303,231,365,272,34,NaN,NaN
8,1969,3043,997,235,364,25,135,305,233,358,263,36,NaN,NaN
9,1970,3101,1028,255,370,24,132,322,238,376,265,40,NaN,NaN
10,1971,3109,1022,261,351,24,132,338,235,383,277,39,NaN,NaN
11,1972,3143,1059,264,373,25,124,352,233,390,282,41,NaN,NaN
12,1973,3165,1036,280,353,26,136,350,231,409,279,42,NaN,NaN
13,1974,3110,1036,268,342,26,114,366,225,403,271,42,NaN,NaN
14,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6,NaN
15,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1,NaN
16,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6,NaN
17,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1,NaN
18,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6,NaN
19,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1,5.7
20,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6,5.6
21,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1,5.6
22,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5,5.6
23,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0,5.6
24,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5,5.6
25,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0,5.7
26,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6,5.7
27,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2,5.7
28,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9,5.8
29,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5,5.8
30,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2,5.8
31,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9,5.9
32,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6,6.0
33,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3,6.0
34,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9,6.1
35,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6,6.2
36,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2,6.2
37,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9,6.3
38,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5,6.4
39,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1,6.5
40,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6,6.5
41,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1,6.6
42,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6,6.7
43,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1,6.7
44,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6,6.8
45,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0,6.8
46,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5,6.9
47,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0,6.9
48,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5,7.0
49,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9,7.1
50,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4,7.1
51,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9,7.2
52,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4,7.3

# VI. Average Weekly Working Hours in Germany 1983-2018

1. load csv files, combine them into one using the method .append

(the first file contains all data from 1999 to 2008, while the second contains data from 2009 to 2018)

In [49]:
Ger_work1 = pd.read_csv('GER_weekly_hours_work_1999_2008.csv')
Ger_work2 = pd.read_csv('GER_weekly_hours_work_2009_2018.csv')

In [52]:
Ger_work = Ger_work1.append(Ger_work2, ignore_index=True)
Ger_work

C:\Users\Lena\Miniconda3\envs\labs\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,GEO,NACE_R1,NACE_R2,SEX,TIME,UNIT,Value,WORKTIME,WSTATUS
0,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,1999,Hour,37.2,Total,Employed persons
1,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2000,Hour,37.1,Total,Employed persons
2,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2001,Hour,36.7,Total,Employed persons
3,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2002,Hour,36.5,Total,Employed persons
4,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2003,Hour,35.9,Total,Employed persons
5,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2004,Hour,36.0,Total,Employed persons
6,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2005,Hour,35.7,Total,Employed persons
7,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2006,Hour,35.6,Total,Employed persons
8,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2007,Hour,35.5,Total,Employed persons
9,Germany (until 1990 former territory of the FRG),Total - all NACE activities,NaN,Total,2008,Hour,35.6,Total,Employed persons
10,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2009,Hour,35.7,Total,Employed persons
11,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2010,Hour,35.7,Total,Employed persons
12,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2011,Hour,35.5,Total,Employed persons
13,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2012,Hour,35.5,Total,Employed persons
14,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2013,Hour,35.3,Total,Employed persons
15,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2014,Hour,35.3,Total,Employed persons
16,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2015,Hour,35.2,Total,Employed persons
17,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2016,Hour,35.1,Total,Employed persons
18,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2017,Hour,35.0,Total,Employed persons
19,Germany (until 1990 former territory of the FRG),NaN,Total - all NACE activities,Total,2018,Hour,34.9,Total,Employed persons

2. Drop unnecessary columns, rename columns, check column types

In [53]:
Ger_work = Ger_work.drop(['GEO','NACE_R1','NACE_R2','SEX','UNIT','WORKTIME','WSTATUS'], axis=1)

In [54]:
Ger_work

    TIME  Value
0   1999   37.2
1   2000   37.1
2   2001   36.7
3   2002   36.5
4   2003   35.9
5   2004   36.0
6   2005   35.7
7   2006   35.6
8   2007   35.5
9   2008   35.6
10  2009   35.7
11  2010   35.7
12  2011   35.5
13  2012   35.5
14  2013   35.3
15  2014   35.3
16  2015   35.2
17  2016   35.1
18  2017   35.0
19  2018   34.9

In [55]:
Ger_work = Ger_work.rename(columns={"TIME": "Year", "Value": "Average Work Hours / Week"})

In [56]:
Ger_work.dtypes

Year                           int64
Average Work Hours / Week    float64
dtype: object

# VII. Merge Food Consumption and Work

1. merge food consumption df and work hours df to create one df called 'Ger_food_over_blood_work'

In [57]:
Ger_food_over_blood_work = pd.merge(Ger_food_over_blood, Ger_work, how='left', on=['Year'])

In [58]:
Ger_food_over_blood_work

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight,Percentage Raised Blood Glucose,Average Work Hours / Week
0,1961,2855,923,162,346,22,108,262,232,336,252,31,NaN,NaN,NaN
1,1962,2915,932,175,352,23,120,262,236,333,270,32,NaN,NaN,NaN
2,1963,2899,940,187,357,24,125,261,239,338,260,36,NaN,NaN,NaN
3,1964,2983,943,203,356,24,111,270,231,351,270,33,NaN,NaN,NaN
4,1965,3012,948,208,354,24,116,276,233,338,280,32,NaN,NaN,NaN
5,1966,3012,945,211,353,23,126,279,226,353,269,37,NaN,NaN,NaN
6,1967,3004,966,212,359,23,129,286,233,343,272,36,NaN,NaN,NaN
7,1968,3062,990,222,366,23,146,303,231,365,272,34,NaN,NaN,NaN
8,1969,3043,997,235,364,25,135,305,233,358,263,36,NaN,NaN,NaN
9,1970,3101,1028,255,370,24,132,322,238,376,265,40,NaN,NaN,NaN
10,1971,3109,1022,261,351,24,132,338,235,383,277,39,NaN,NaN,NaN
11,1972,3143,1059,264,373,25,124,352,233,390,282,41,NaN,NaN,NaN
12,1973,3165,1036,280,353,26,136,350,231,409,279,42,NaN,NaN,NaN
13,1974,3110,1036,268,342,26,114,366,225,403,271,42,NaN,NaN,NaN
14,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6,NaN,NaN
15,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1,NaN,NaN
16,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6,NaN,NaN
17,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1,NaN,NaN
18,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6,NaN,NaN
19,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1,5.7,NaN
20,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6,5.6,NaN
21,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1,5.6,NaN
22,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5,5.6,NaN
23,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0,5.6,NaN
24,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5,5.6,NaN
25,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0,5.7,NaN
26,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6,5.7,NaN
27,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2,5.7,NaN
28,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9,5.8,NaN
29,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5,5.8,NaN
30,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2,5.8,NaN
31,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9,5.9,NaN
32,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6,6.0,NaN
33,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3,6.0,NaN
34,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9,6.1,NaN
35,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6,6.2,NaN
36,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2,6.2,NaN
37,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9,6.3,NaN
38,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5,6.4,37.2
39,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1,6.5,37.1
40,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6,6.5,36.7
41,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1,6.6,36.5
42,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6,6.7,35.9
43,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1,6.7,36.0
44,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6,6.8,35.7
45,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0,6.8,35.6
46,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5,6.9,35.5
47,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0,6.9,35.6
48,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5,7.0,35.7
49,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9,7.1,35.7
50,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4,7.1,35.5
51,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9,7.2,35.5
52,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4,7.3,35.3

# VIII. Health Expenditure per Capita in Germany 2000-2016

1. load csv file, check column types, drop first two rows, cast 'Year' as type int64, rename columns

In [59]:
Ger_health = pd.read_excel('GER_health_expenditure_per_capita_2000_2016.xlsx')

In [60]:
Ger_health.dtypes

Years       float64
Metadata     object
Germany      object
dtype: object

In [61]:
Ger_health.drop(Ger_health.index[:2], inplace=True)
Ger_health

     Years Metadata  Germany
2   2000.0    Value  2332.33
3   2001.0    Value  2339.07
4   2002.0    Value  2549.74
5   2003.0    Value  3136.51
6   2004.0    Value  3442.15
7   2005.0    Value   3546.4
8   2006.0    Value  3683.19
9   2007.0    Value  4165.65
10  2008.0    Value  4634.81
11  2009.0    Value     4642
12  2010.0    Value  4596.65
13  2011.0    Value  5019.08
14  2012.0    Value  4750.42
15  2013.0    Value  5086.58
16  2014.0    Value  5278.22
17  2015.0    Value  4605.88
18  2016.0    Value  4714.26

In [62]:
Ger_health = Ger_health.astype({'Years': 'int64'})

In [63]:
Ger_health = Ger_health.rename(columns={"Years": "Year", "Germany": "Health Expenditure p.C in US$"}).drop(columns=['Metadata'])

# IX. Merge Food Consumption and Health Expenditure

1. merge food consumption df and health expenditure df to create one df called 'Ger_food_over_blood_work_health'

In [64]:
Ger_food_over_blood_work_health = pd.merge(Ger_food_over_blood_work, Ger_health, how='left', on=['Year'])

In [65]:
Ger_food_over_blood_work_health

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight,Percentage Raised Blood Glucose,Average Work Hours / Week,Health Expenditure p.C in US$
0,1961,2855,923,162,346,22,108,262,232,336,252,31,NaN,NaN,NaN,NaN
1,1962,2915,932,175,352,23,120,262,236,333,270,32,NaN,NaN,NaN,NaN
2,1963,2899,940,187,357,24,125,261,239,338,260,36,NaN,NaN,NaN,NaN
3,1964,2983,943,203,356,24,111,270,231,351,270,33,NaN,NaN,NaN,NaN
4,1965,3012,948,208,354,24,116,276,233,338,280,32,NaN,NaN,NaN,NaN
5,1966,3012,945,211,353,23,126,279,226,353,269,37,NaN,NaN,NaN,NaN
6,1967,3004,966,212,359,23,129,286,233,343,272,36,NaN,NaN,NaN,NaN
7,1968,3062,990,222,366,23,146,303,231,365,272,34,NaN,NaN,NaN,NaN
8,1969,3043,997,235,364,25,135,305,233,358,263,36,NaN,NaN,NaN,NaN
9,1970,3101,1028,255,370,24,132,322,238,376,265,40,NaN,NaN,NaN,NaN
10,1971,3109,1022,261,351,24,132,338,235,383,277,39,NaN,NaN,NaN,NaN
11,1972,3143,1059,264,373,25,124,352,233,390,282,41,NaN,NaN,NaN,NaN
12,1973,3165,1036,280,353,26,136,350,231,409,279,42,NaN,NaN,NaN,NaN
13,1974,3110,1036,268,342,26,114,366,225,403,271,42,NaN,NaN,NaN,NaN
14,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6,NaN,NaN,NaN
15,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1,NaN,NaN,NaN
16,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6,NaN,NaN,NaN
17,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1,NaN,NaN,NaN
18,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6,NaN,NaN,NaN
19,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1,5.7,NaN,NaN
20,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6,5.6,NaN,NaN
21,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1,5.6,NaN,NaN
22,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5,5.6,NaN,NaN
23,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0,5.6,NaN,NaN
24,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5,5.6,NaN,NaN
25,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0,5.7,NaN,NaN
26,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6,5.7,NaN,NaN
27,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2,5.7,NaN,NaN
28,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9,5.8,NaN,NaN
29,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5,5.8,NaN,NaN
30,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2,5.8,NaN,NaN
31,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9,5.9,NaN,NaN
32,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6,6.0,NaN,NaN
33,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3,6.0,NaN,NaN
34,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9,6.1,NaN,NaN
35,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6,6.2,NaN,NaN
36,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2,6.2,NaN,NaN
37,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9,6.3,NaN,NaN
38,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5,6.4,37.2,NaN
39,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1,6.5,37.1,2332.33
40,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6,6.5,36.7,2339.07
41,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1,6.6,36.5,2549.74
42,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6,6.7,35.9,3136.51
43,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1,6.7,36.0,3442.15
44,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6,6.8,35.7,3546.4
45,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0,6.8,35.6,3683.19
46,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5,6.9,35.5,4165.65
47,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0,6.9,35.6,4634.81
48,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5,7.0,35.7,4642
49,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9,7.1,35.7,4596.65
50,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4,7.1,35.5,5019.08
51,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9,7.2,35.5,4750.42
52,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4,7.3,35.3,5086.58

# X. Deaths by Diabetes Mellitus in Germany 1998-2017

1. I tried to read the csv file in the comments below but a Unicode Decode Error occured which I could not solve

Then, I created a table manually with the values from the csv file

In [72]:
#Ger_death = pd.read_csv('GER_deaths_by_diabetes_mellitus_1998_2017.csv', error_bad_lines=False)
#Ger_death

In [74]:
d = {'Year': [1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], 'Number of Deaths by Diabetes Mellitus per 100.000 Inhabitants': [25.2, 25.5, 25.8, 26.6, 28.6, 29.0, 28.7, 29.5, 27.1, 26.6, 27.2, 27.8, 28.3, 29.3, 29.9, 30.1, 28.0, 29.9, 28.0, 30.1]}

Ger_death = pd.DataFrame(data=d)
Ger_death

    Year  Number of Deaths by Diabetes Mellitus per 100.000 Inhabitants
0   1998                                               25.2
1   1999                                               25.5
2   2000                                               25.8
3   2001                                               26.6
4   2002                                               28.6
5   2003                                               29.0
6   2004                                               28.7
7   2005                                               29.5
8   2006                                               27.1
9   2007                                               26.6
10  2008                                               27.2
11  2009                                               27.8
12  2010                                               28.3
13  2011                                               29.3
14  2012                                               29.9
15  2013                                               30.1
16  2014                                               28.0
17  2015                                               29.9
18  2016                                               28.0
19  2017                                               30.1

# XI. Merge Food Consumption and Deaths by Diabetes

1. merge food consumption df and deaths by diabetes df to create one df called 'Ger_food_over_blood_work_health_death'

In [75]:
Ger_food_over_blood_work_health_death = pd.merge(Ger_food_over_blood_work_health, Ger_death, how='left', on=['Year'])

In [76]:
Ger_food_over_blood_work_health_death

,Year,Total kcal Consumption,Animal Products,Alcoholic Beverages,Animal fats,"Fish, Seafood",Fruits,Meat,Milk,Sugar & Sweeteners,Vegetable Oils,Vegetables,Percentage Overweight,Percentage Raised Blood Glucose,Average Work Hours / Week,Health Expenditure p.C in US$,Number of Deaths by Diabetes Mellitus per 100.000 Inhabitants
0,1961,2855,923,162,346,22,108,262,232,336,252,31,NaN,NaN,NaN,NaN,NaN
1,1962,2915,932,175,352,23,120,262,236,333,270,32,NaN,NaN,NaN,NaN,NaN
2,1963,2899,940,187,357,24,125,261,239,338,260,36,NaN,NaN,NaN,NaN,NaN
3,1964,2983,943,203,356,24,111,270,231,351,270,33,NaN,NaN,NaN,NaN,NaN
4,1965,3012,948,208,354,24,116,276,233,338,280,32,NaN,NaN,NaN,NaN,NaN
5,1966,3012,945,211,353,23,126,279,226,353,269,37,NaN,NaN,NaN,NaN,NaN
6,1967,3004,966,212,359,23,129,286,233,343,272,36,NaN,NaN,NaN,NaN,NaN
7,1968,3062,990,222,366,23,146,303,231,365,272,34,NaN,NaN,NaN,NaN,NaN
8,1969,3043,997,235,364,25,135,305,233,358,263,36,NaN,NaN,NaN,NaN,NaN
9,1970,3101,1028,255,370,24,132,322,238,376,265,40,NaN,NaN,NaN,NaN,NaN
10,1971,3109,1022,261,351,24,132,338,235,383,277,39,NaN,NaN,NaN,NaN,NaN
11,1972,3143,1059,264,373,25,124,352,233,390,282,41,NaN,NaN,NaN,NaN,NaN
12,1973,3165,1036,280,353,26,136,350,231,409,279,42,NaN,NaN,NaN,NaN,NaN
13,1974,3110,1036,268,342,26,114,366,225,403,271,42,NaN,NaN,NaN,NaN,NaN
14,1975,3118,1046,281,348,27,127,373,220,390,269,41,40.6,NaN,NaN,NaN,NaN
15,1976,3190,1064,292,360,28,123,373,224,413,293,43,41.1,NaN,NaN,NaN,NaN
16,1977,3144,1044,289,342,26,117,377,219,391,292,45,41.6,NaN,NaN,NaN,NaN
17,1978,3258,1100,285,370,25,128,398,225,413,283,46,42.1,NaN,NaN,NaN,NaN
18,1979,3280,1119,292,377,26,127,404,233,420,279,47,42.6,NaN,NaN,NaN,NaN
19,1980,3278,1107,290,337,28,126,419,241,418,288,46,43.1,5.7,NaN,NaN,NaN
20,1981,3273,1098,300,330,27,104,419,240,424,304,49,43.6,5.6,NaN,NaN,NaN
21,1982,3337,1124,316,355,26,137,413,246,429,290,48,44.1,5.6,NaN,NaN,NaN
22,1983,3378,1184,306,396,27,119,408,270,424,285,47,44.5,5.6,NaN,NaN,NaN
23,1984,3391,1187,292,395,26,129,409,276,406,277,52,45.0,5.6,NaN,NaN,NaN
24,1985,3423,1191,287,387,25,127,418,279,423,276,50,45.5,5.6,NaN,NaN,NaN
25,1986,3406,1141,298,341,27,140,416,276,436,282,51,46.0,5.7,NaN,NaN,NaN
26,1987,3382,1138,293,328,25,132,425,282,421,282,52,46.6,5.7,NaN,NaN,NaN
27,1988,3404,1130,294,315,26,146,424,288,427,294,54,47.2,5.7,NaN,NaN,NaN
28,1989,3403,1133,302,338,29,139,407,285,410,301,54,47.9,5.8,NaN,NaN,NaN
29,1990,3261,1129,285,341,30,143,409,278,343,315,53,48.5,5.8,NaN,NaN,NaN
30,1991,3323,1074,291,304,25,121,387,286,426,370,55,49.2,5.8,NaN,NaN,NaN
31,1992,3392,1104,292,331,24,139,400,280,446,374,58,49.9,5.9,NaN,NaN,NaN
32,1993,3202,1018,256,312,22,106,369,256,413,376,51,50.6,6.0,NaN,NaN,NaN
33,1994,3213,1033,251,309,23,110,370,270,392,376,55,51.3,6.0,NaN,NaN,NaN
34,1995,3249,1028,252,320,27,96,353,269,430,394,56,51.9,6.1,NaN,NaN,NaN
35,1996,3297,1046,252,315,37,117,367,265,391,432,61,52.6,6.2,NaN,NaN,NaN
36,1997,3176,1024,252,307,39,100,353,264,411,436,59,53.2,6.2,NaN,NaN,NaN
37,1998,3285,1044,254,311,42,99,375,256,397,416,60,53.9,6.3,NaN,NaN,25.2
38,1999,3279,1035,260,314,36,101,357,268,402,398,63,54.5,6.4,37.2,NaN,25.5
39,2000,3336,1012,253,298,37,138,357,261,409,435,63,55.1,6.5,37.1,2332.33,25.8
40,2001,3363,1029,250,302,40,105,347,283,445,388,67,55.6,6.5,36.7,2339.07,26.6
41,2002,3427,1048,249,310,38,112,345,299,440,390,66,56.1,6.6,36.5,2549.74,28.6
42,2003,3390,1063,231,312,40,116,350,307,469,392,64,56.6,6.7,35.9,3136.51,29.0
43,2004,3411,1037,238,289,39,110,347,309,478,414,66,57.1,6.7,36.0,3442.15,28.7
44,2005,3450,1047,247,301,40,110,342,313,496,404,62,57.6,6.8,35.7,3546.4,29.5
45,2006,3466,1045,264,290,41,109,345,315,469,426,63,58.0,6.8,35.6,3683.19,27.1
46,2007,3527,1084,259,297,41,106,363,330,447,438,63,58.5,6.9,35.5,4165.65,26.6
47,2008,3517,1061,249,292,42,104,356,318,481,447,64,59.0,6.9,35.6,4634.81,27.2
48,2009,3515,1074,255,284,39,104,358,341,466,427,66,59.5,7.0,35.7,4642,27.8
49,2010,3504,1079,232,292,39,100,365,332,485,424,65,59.9,7.1,35.7,4596.65,28.3
50,2011,3538,1090,237,298,40,109,365,335,473,417,68,60.4,7.1,35.5,5019.08,29.3
51,2012,3501,1061,243,287,39,108,357,328,461,443,70,60.9,7.2,35.5,4750.42,29.9
52,2013,3499,1044,255,273,37,111,353,331,469,443,68,61.4,7.3,35.3,5086.58,30.1

2. Export final csv file which is used in Tableau

In [77]:
Ger_food_over_blood_work_health_death.to_csv('GER_data.csv')